// Variables Couleurs
$primary-color:#FFFFFF;
$secondary-color:#F0515A;
$terciary-color:#323232;
$text-color:#000000;
$back-color:#F8F8F8;
$ok-color:#039E00;
$ko-color:#F02408;
$primary-tag-color: #f051591A;

