@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/typography' as *;
// Global
body{
    background-color:$back-color;
    position : relative;
    margin: 0;
}
// Classes
.container-fluid{
    width:100%;
    @include flex(row, start, stretch);
}
.column{
    width:80%;
    @include flex(column, start, center);
}
.column-nav{
    width:20%;
    @include flex(column, start, center);
    background-color: $terciary-color;
    min-height : 100vh;
}
.container{
    width:90%;
    @include flex(column, center, start);
    margin: auto;
    margin-top:0;
    h1{
        width :100%;
    }
}
.row{
    width:100%;
    margin-top:$row-space;
    margin-bottom:$row-space;
}
.produits{
    //position : relative;
    //width : 100%;
    //z-index: 2;
    //height : 100vh;
    //background-color: $back-color;
}
.products{
    width : 100%;
}
a{
    text-decoration: none;
}
.search-bar{
    @include flex(row, space-arround, center);
    .col{
        @include flex(line, end, center);
        flex : 1 1 25%;
        input{
            padding: 0 1rem 0 1rem;
            width : 30rem;
            height : 2rem;
            background-image: url("../images/icone/recherche.png");
            background-position: center right;
            background-origin: content-box; 
            background-repeat: no-repeat;
            background-size: 1.5rem;
        } 
    }
    .col:first-child{
        flex : 3 1 75%;
    }
}
table{
    border-collapse: collapse;
}
thead{
    background-color: $terciary-color;
    tr{
        color:$primary-color;
        th{
            border:2px;
            padding-top:1rem;
            padding-bottom:1rem;
        }
    }
}
td{
    background-color:$primary-color;
    border-top : 6px $back-color solid;
}
.titre{
    background-color: $secondary-color;
    padding-top : 1rem;
    padding-bottom : 1rem;
    width : 100%;
}
.stock-oui{
    background-color:$ok-color;
    width:1rem;
    height:1rem;
    border-radius:1rem;
    margin:auto;
}
.stock-non{
    background-color: $ko-color;
    width:1rem;
    height:1rem;
    border-radius:1rem;
    margin:auto;
}
.line{
    @include flex(row, space-between, center);
}
#page-ajout{
    background-color: $back-color;
}
#page-visu{
    background-color: $back-color;
}
.form-ajout{
    @include flex(row, space-between, start);
    .col{
        width : calc(50% - 1rem);
        @include flex(column, start, start);
        .form-item{
            width : 100%;
            margin-top : 1rem;
            margin-bottom : 1rem;
            @include flex(column, start, start);
            input, select{
                width : 100%;
                height : 2rem;
                margin-top : 1rem;
            }
        }
    }
    .col:last-child{
        .form-item:first-child{
            input{
                height : 12rem;
            }
        }
        .form-item:nth-child(2){
            @include flex(row-reverse, start,center);
            input{
                width : 2rem;
                margin : 0 2rem 0 0;
                padding:0;
            }
        }
        .form-item:last-child{
            @include flex(row-reverse, end,center);
        }
    }
}
.logo{
    @include flex(row, center, center);
    margin-top : 1rem;
    gap : 0.5rem;
    p{
        @include text($primary-color,$typo:$primary-font,$text-size:1.5rem);
        span{
            color: $secondary-color;
            @include text($secondary-color,$typo:$primary-font,$text-size:1.5rem);
        }
    }
}
nav{
    width : 100%;
    .selected-nav{
        border-left:8px $secondary-color solid;
    }
    a{
        width : 90%;
    }
    ul{
        margin-top:10rem;
        li{
            list-style: none;
            margin-top:1.2rem;
            a{
                padding: 0.5rem;
                @include flex(row, start, center);
                gap : 1rem;
                border-left:8px $terciary-color solid;
                p{
                    @include text($primary-color,$typo:$primary-font,$text-size:1rem);
                    margin-top: 0rem;
                    margin-bottom: 0rem;
                }
                img{
                    width:1.5rem;
                }
            }
        }
    }
}